main {
  text-align: center;
}

section{
  width: 75%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  perspective: 1500px;
}

.card {
  flex: 0 1 12%;
  height: 200px;
  margin-bottom: 10px;
  position: relative;
  transition: transform .2s;
  transform-style: preserve-3d;
  background-color: blue;
}

.is-flipped,
.matched {
  transform: rotateY(180deg);
}

.matched > .back{
  background-color: green;
}

.front, 
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border: none;
  left: 0; 
  font-size: 50px;
  color: white;
}

.front {
    background: red;
}

.back {
  background: blue;
  transform: rotateY( 180deg );
}

